.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.image-item {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    height: 100%;
    margin-right: 10px;
    object-fit: cover;
    border: 2px solid transparent;
}

.image-item:hover,
.image-item.selected {
    border: 2px solid #007bff;
    opacity: 0.;
}

.image-item img {
    z-index: 1;
    width: 128px;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
    transition: all 0.2s ease-in-out;
}

.image-item img:hover {
    opacity: 0.7;
}

.image-item .remove-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #007bff;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.image-item .remove-btn svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-item .remove-btn:hover {
    opacity: 0.7;
}

.image-item .remove-btn:active {
    opacity: 0.5;
}

.image-item .remove-btn i {
    position: relative;
    top: -1px;
}

.image-item .remove-btn:hover i {
    opacity: 0.7;
}

.image-item .remove-btn:active i {
    opacity: 0.5;
}